<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> <%=title%> </title>
    </head>
    <body>
        <p> <h1> <%=message%> </h1> </p>
        <ul>
            <li>
                <a href="/usuario/nuevo">Registrar</a> 
            </li>
            <li>Login</li>
        </ul>
    </body>
</html>