<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> <%=title%> </title>
    </head>
    <body>
        <div id="my_app">
            <form id='user-login'>
                <p>
                    <input type="text" name="user" placeholder="Nombre de usuario">
                </p>
                <p>
                    <input type="password" name="pass" placeholder="Contraseña">
                </p>
                <p>
                    <button type="button" id = "login">Login</button>
                    <a type="button" href = "/">Regresar</a>
                </p>
            </form>
        </div>
        <script src = "../public/events.js"></script>
    </body>
</html>